[Unit]
Description=Skyblock
Requires=docker.service
Wants=mariadb.service waterfall.service
After=mariadb.service docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop skyblock
ExecStartPre=-/usr/bin/docker rm skyblock
ExecStart=/usr/bin/docker run -e MEMORY=2G -m 2g -p 0.0.0.0:24455:24455/udp -e VERSION=1.18.1 --ip 172.20.0.19 -e USE_AIKAR_FLAGS=true -e TYPE=PAPER --network minecraft --name skyblock -v /srv/minecraft/skyblock/:/data -v /srv/minecraft/common-plugins/:/plugins -e REPLACE_ENV_VARIABLES=TRUE -e CFG_SERVER_NAME="Skyblock" -e EULA=TRUE -e ONLINE_MODE=FALSE itzg/minecraft-server
ExecStop=-/usr/bin/docker stop villager-defense

[Install]
WantedBy=multi-user.target

